/* UNIVERSAL STYLES */

html {
  font-size: 18px;
  font-family: Helvetica;
}

.full-width {
  width: 100%;
}

.black-bg {
  background-color: black;
}

.white {
  color: white;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* HEADER STYLES */
.logo img {
  width: auto;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right:1rem;
}

.logo {
  height: 2.32rem;
  display: flex;
  align-items: center;
}

/* MAIN STYLES */
main {
  height: 28rem;
  background-image: url("../media/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.highlight {
  position: relative;
  top: 9rem;
  width: 26rem;
  height: 10rem;
}

.highlight h3 {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 0.25rem;
  padding-left: 3rem;
}

.highlight h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.25rem;
  padding-left: 3rem;
}

/* NAVIGATION STYLES */
nav {
  background-color: firebrick;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
}
